---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="item-title">WIKI</div>
            <a href="https://wiki.gentoo.org/wiki" style="color: ;" target="_blank">Gentoo</a>
            <a href="https://wiki.archlinux.org/" style="color: ;" target="_blank">Arch</a>
            <a href="https://wiki.xenialinux.com/en/latest/"  style="color: ;" target="_blank">Xenia</a>
            <a href="https://tails.net/doc/index.en.html"  style="color: ;" target="_blank">Tails</a>
            <a href="https://www.whonix.org/wiki/Documentation" style="color: ;" target="_blank">Whonix</a>
            <a href="https://www.qubes-os.org/doc/" style="color: ;" target="_blank">Qubes</a>

          </div>

          <div class="item products">
            <div class="item-title">Crack</div>
            <a href="https://rsload.net" style="color: ;" target="_blank">Rsload</a>
            <a href="https://lrepacks.net" style="color: ;" target="_blank">lrepacks</a>
            <a href="https://www.52pojie.cn/" style="color: ;" target="_blank">52Pojie</a>
            <a href="https://softoroom.org/" style="color: ;" target="_blank">softaroom</a>
            <a href="https://diakov.net/" style="color: ;" target="_blank">Diakov</a>

          </div>

          <div class="item products">
            <a ="/" target="_blank"></a>
            <a ="/" target="_blank"></a>

            <a href="https://github.com/tqgx/tqgx.github.io/new/main/src/pages/posts" style="color: ;" target="_blank">🔴</a>
            <a href="https://github.com/tqgx/tqgx/upload/main/TQGX" style="color: ;" target="_blank">Photo</a>
            <a href="mailto:lilyjones1999@hotmail.com" style="color: ;" target="_blank">Email</a>
            <a href="/rss.xml" target="_blank"style="color: ;" >RSS</a>
            <a href="https://github.com/tqgx" style="color: ;" target="_blank">Github</a>
            <a href="https://github.com/tqgx/OpenTools" style="color: ;" target="_blank">OpenTools</a>





            
            
          </div>

          <div class="item community">
            <div class="item-title">For Privacy</div>
            <a href="https://Piped.video" style="color: ;" target="_blank">Piped</a>
            <a href="https://yewtu.be" style="color: ;" target="_blank">Invideous</a>
            <a href="https://browserleaks.com/ip" style="color: ;"  target="_blank">TEST IP</a>
            <a href="https://central.bitdefender.com/devices?service=add_trial&code=34291885-79d4-4ba6-bf01-30b0d6bdd0a1" style="color: ;"  target="_blank">Bitdefender 30 Days Trial</a>


            <a ="/" target="_blank"></a>
            <div class="item-title">For Knowledge</div>
            <a href="https://bard.google.com/chat" style="color: ;" target="_blank">Google Bard</a>
            <a href="https://you.com/search?q=請用中文和我對話&fromSearchBar=true&tbm=youchat"style="color: ;"  target="_blank">You.com</a>
            <a href="https://www.bing.com/new?icid=mscom_marcom_H1a_BingAI" style="color: ;" target="_blank">New Bing</a>


            
            <a ="/" target="_blank"></a>
            <div class="item-title">For Translation</div>
            <a href="https://fanyi.youdao.com/indexLLM.html" style="color: ;" target="_blank">Youdao</a>
            <a href="https://www.bing.com/translator" style="color: ;" target="_blank">Microsoft Bing</a>
            <a href="https://translate.yandex.ru/?from=tabbar&source_lang=zh&target_lang=ru&text=%E8%B2%93"style="color: ;"  target="_blank">Yandex</a>
            <a href="https://translate.google.com/?hl=zh-TW" style="color: ;" target="_blank">Google Translation</a>

            


          </div>

          <div class="item resources">
            <div class="item-title"style="color: ;" >Links</div>
            <a href="https://xgqt.gitlab.io/"style="color: ;">XGQT BLOG</a>
            <a href="https://ivonblog.com/"style="color: ;">Ivon BLOG</a>
            <a href="https://xenialinux.com/"style="color: ;">Xeina BLOG</a>
                        <a href="https://www.davidrevoy.com/"style="color: ;">Davidrevoy BLOG</a>

          </div>
        </div>
      </div>
      <div class="bottom">
        
<div class="copyright">
  <span style="font-size: 13px; color: #6E6F3;">
    Welcome to my blog! <a href="https://github.com/tqgx/tqgx.github.io">Github.io</a> or <a href="https://github.com/austin2035/astro-air-blog">blog theme</a> See here is how I made it
  </span>
  <hr style="width: 100%; height: 0.20px; background-color: #D2D2D7; margin-top: 10px;">
  <span style="font-size: 12.5px; color: #6E6F3;">
    Copyright &copy; {`${year}  ${SITE_NAME}`}. All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://tqgx.github.io/posts/2/"style="color: ;">Make Website</a>&nbsp; | &nbsp;<a href="https://tqgx.github.io/posts/2023-09-18-%E7%9C%9F%E6%AD%A3%E7%9A%84%20Portable%20%E8%BB%9F%E4%BB%B6%E8%A3%BD%E4%BD%9C%E2%80%94TurboStudio/" style="color: ;">Make Portable</a>&nbsp; | &nbsp;<a href="https://tqgx.github.io/archive/"style="color: ;">Archive</a>&nbsp; | &nbsp;<a href="https://tqgx.github.io/posts/18/"style="color: ;">Make Xenia</a>&nbsp; | &nbsp;<a href="https://github.com/tqgx/OpenTools" style="color: ;">OpenTools</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="/en-us" style="color: ;">English</a>
  </span>
</div>
        
     

        </div>
      </div>
    </div>
  </div>
</div>
