---
import Navigation from "./Navigation.astro";
---


<header>
    <div class="navigation">

  <div style={{ background: "#333333", height: "50px", padding: "4px" }}>
    <button type="button" class="hamburger">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="menu">
      <div style="text-align: left; font-size: 17px; margin-top: -24px; height: 80px; overflow-x: auto; white-space: nowrap;">
<a href="/" style="text-decoration: none;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="https://github.com/tqgx/tqgx/blob/main/TQGX/62Ksu9x.png?raw=true" alt="" title="Hello! im Lily Joneś, a.k.a. TQGX OpenTools & Portabler" style="width: 130px; height: 50px;">
</a>


      <div style="text-align: center; font-size: 17px; margin-top: -45px; height: 40px; overflow-x: auto; white-space: nowrap;">
        <a href="/" style="color: #D6D6D6;">BLOG</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/archive" style="color: #D6D6D6;">ARCHIVE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/Tags" style="color: #D6D6D6;">TAGS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/en-us" style="color: #D6D6D6;">ENGLISH</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      </div>
    </div>
  </div>
  <style>
